.App {
  text-align: center;
}


.App-header {
  background-color: rgb(6, 46, 57);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 64px;
}

.hero_image {
  width: 90vw;
  height: 60vh;
  margin: auto;
}